 * {
   box-sizing: border-box;
   /* TODO Global reset */
 }

 html,
 body {
   margin: 0;
   width: 100%;
   height: 100%;
   font-family: "Barlow Light", Inter, Roboto, "Helvetica Neue", "Arial Nova",
     "Nimbus Sans", Arial, sans-serif;
 }

 html {
  /* background-color: hsl(197, 21%, 17%); */
  background-color: #fffafa;
  color: #111;
 }

 body {
   display: grid;
   padding: 1rem;
   line-height: 1.5;
   justify-content: center;
   align-items: center;
 }

 #container {
   height: 100%;
 }

 a {
   color: #9fb560;
 }

 h1 {
   margin: 1rem 0;
   font-size: 2.5rem;
 }

 .fm_description {
  font-style: oblique;
 }

 .tags {
  display: flex;
  flex-wrap: wrap;
 }

 .tag {
  margin: .25em;
  border: 1px solid #f2f87e;
  border-radius: .5em;
  padding: .5em 1em;
  font-size: 1.15em;
  font-weight: 800;
 }

 /* nav styles */
 nav {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .nav-links {
   top: 2rem;
   background-color: #9fb560;
   display: none;
   margin: 0;
 }

 .nav-links a {
   color: #8ef410;
   padding: 10px 0;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: bold;
   text-transform: uppercase;
 }

 .nav-links a:hover,
 .nav-links a:focus {
   background-color: #9fb560;
 }

 .expanded {
   display: grid;
   margin: 0;
   padding: 0 1em;
 }

 /* Hamburger Menu */
 .hamburger-menu {
   padding-right: 20px;
   cursor: pointer;
 }

 .hamburger-menu .line {
   display: block;
   width: 40px;
   height: 5px;
   margin-bottom: 10px;
   background-color: #ccbeba;
 }

 button {
  border: 0;
  outline: 2px solid #1d920b;
  color: #fffafa;
  background-color:hsl(126, 87%, 21%);
  padding: 1em;
 }

 button:hover {
  background-color: #9fb560;
  color: #111;
  outline: 2px solid #8ef410;
 }

 /* Styling for dark theme */
 html.dark {
  background-color: #070610;
  color: #fffafa;
 }

  /* Dark mode toggle */
 html.dark button#themeToggle .moon {
  fill: transparent;
 }
 html.dark button#themeToggle .sun {
  fill: rgb(240, 220, 5);
 }

 #themeToggle {
  border: 0;
  background: none;
 }

 .sun { fill: transparent; }
 .moon { fill: black; }

 :global(.dark) .sun { fill: transparent; }
 :global(.dark) .moon { fill: white; }

 button#themeToggle {
  outline: none;
 }

 @media screen and (min-width: 636px) {
   .nav-links {
     display: block;
     justify-content: center;
     align-items: center;
     max-width: 100lvw;
     background: none;
   }

   .nav-links a {
     display: block;
     padding: 15px 20px;
   }

   .hamburger-menu {
     display: none;
   }

 }

 footer {
   display: flex;
   gap: 1rem;
   justify-content: center;
   margin-top: 1rem;
 }

.dark footer p {
   color: #fff;
 }

 footer p {
  color: #111;
 }