---
import Social from "./Social.astro";
import { Icon } from "../assets/github.svg";
---

<footer>
  <p>
    Made with ❤️ &amp; 🦞 by Todd:
    <!-- TODO Change link text to svg icons -->
    <Social platform="bluesky" username="@toddl.dev" />
    <Social platform="youtube" username="@ToddLibby71" />
    <Social platform="github" username="colabottles" icon="octocat" alt="the github octocat" />
    <Social platform="discord" username="Todd" />
    <Social platform="pixelfed" username="toddlibby" />
    <Social platform="mastodon" username="@colabottles@notacult.social" />
    <Social platform="retro" username="toddlibby" />
    <Social platform="spotify" username="six03" />
    <Social platform="lastfm" username="toddlbby" />
  </p>
</footer>
